body {
    margin: 0;
    height: 100vh;
    background-color: #6b705c;
    overflow: hidden; 
    cursor: none;
}
.kakulator{
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 400px;
    margin: 100px auto;
    display: flex;
    flex-direction: column ;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}.judul-kakulator{
    font-size: 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    
}.sumbit{
    display: flex;
    flex-direction: column;
    margin: 10px;
}.sumbit input{
    margin: 10px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 0 2px 4px black;
    text-align: center;

}.operator{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
}.operator .button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: aqua;
    border: 0;
    border-radius: 10px;
    font-weight: 700;
    font-size: 17px;
    box-shadow: 0 2px 4px black;
}.operator .button2{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(255, 0, 0);
    border: 0;
    border-radius: 10px;
    font-weight: 700;
    font-size: 17px;
    box-shadow: 0 2px 4px black;
}.operator .button3{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(0, 255, 42);
    border: 0;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    box-shadow: 0 2px 4px black;
}.operator .button4{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(229, 255, 0);
    border: 0;
    font-weight: 700;
    border-radius: 10px;
    font-size: 17px;
    box-shadow: 0 2px 4px black;
}.operator .button:hover{
    background-color: rgb(4, 211, 211);
    transform: scale(1.3);
    transition: ease 0.3s;
    cursor: pointer;
}.operator .button2:hover{
    background-color: rgb(192, 0, 0);
    transform: scale(1.3);
    transition: ease 0.3s;
    cursor: pointer;
}.operator .button3:hover{
    background-color: rgb(0, 172, 29);
    transform: scale(1.3);
    transition: ease 0.3s;
    cursor: pointer;
}.operator .button4:hover{
    background-color: rgb(179, 199, 0);
    transform: scale(1.3);
    transition: ease 0.3s;
    cursor: pointer;
} .circle {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 3px solid #c0c0c0;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.15s ease;
  }.hasil{
    font-size: 20px;
    color: black;
  }