body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card_login{
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 400px;
    margin: 100px auto;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.judul_login{
    font-size: 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;

}
 input{
font-size: 14px;
padding: 12px;
border-radius: 5px;
width: 300px;;
}
label{
    font-size: 14px;
}

.ket_daftar{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.tombol{
    font-size: larger;
    color: aliceblue;
    width: 100%;
    height: 45px;
    background-color: rgb(7, 48, 233);
    border: rgb(7, 48, 233);
    border-radius: 5px;
}
.tombol:hover{
    background-color: rgb(65, 99, 255);
}
.ket_daftar a:hover{
    color: blue;
}