      body{
        background-color: rgb(255, 255, 255);
        padding: 0;
        margin: 0;
      }
      .header{
        width: 100%;
        height: 70px;
        background-color: rgb(0, 204, 255);
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 28px;
        position: fixed;
        top: 0;
        gap: 660px;
      }
      .menu ul{
        list-style: none;
      }
      .menu ul li{
        display: inline-block;
        margin-right: 20px;
      }
      .menu ul li a{
        text-decoration: none;
        color: white;
      }
      .menu ul li a:hover{
        color: rgb(0, 0, 0);
        transition: ease 0.5s;
      }
       .menu ul li button{
        background-color: rgb(0, 204, 255);
        border: 2px solid rgb(255, 255, 255);
        border-radius: 50px;
        color: white;
        padding: 5px 20px;
        cursor: pointer;
        font-size: 20px;
      }
      .menu ul li button:hover{
        background-color: white;
        color: black;
        transition: ease 0.5s;
      }
      .profile{
        text-align: center;
        width: 70%;
        height: 1000px;
        background-color: rgb(226, 226, 226);
        box-shadow: 0 2px 2px;
        margin-left: 15%;
        margin-top: 10%;
        margin-bottom: 10%;
      }
      .profile img{
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin-top: 100px;
        margin-bottom: 10px;
        box-shadow: 0 6px 7px;
      }
      .profile h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(0, 204, 255);
        color: white;
        margin: 4px 400px;
        border-radius: 20px;
        
      }
      .profile h2:hover {
      cursor: context-menu;
      }  
      .teks{
        font-family: Arial, Helvetica, sans-serif;
      }
      .skill{
        margin-top: 20%;
      }
      h3{
        color: rgb(0, 204, 255);
        border-bottom: 2px solid black;
        padding-bottom: 5px;
      }
      h3:hover{
        cursor: context-menu;
      }
       .run{
        list-style: none;
        padding: 0;
      }
       .run .ran{
        color: white;
        transition: ease 1s;
        background-color: rgb(11, 184, 48);
        margin: 8px 90px;
        padding: 8px 12px;
        border-radius: 50px;
      }
       .ran:hover{
        padding: 20px 20px;
        cursor: zoom-in;
        background-color: aqua;
        font-size: 30px;
      }
       .penutup{
        display: inline-block;
        background-color: rgb(0, 255, 106);
        border-radius: 5px;
      }
      .isipenutup{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
      .footer{
        background-color: gray;
        width: 100%;
        height: 200px;
      }
      .footer h1 {
        font-size: 300%;
        text-align: center;
      }
      .footer p{
        text-align: left;
        font-size: larger;
        padding-left: 10%;
      }
      .footer p a{
        display: inline-block;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: xx-large;
        text-decoration: none;
        padding-left: 0%;
      }
      .footer a:hover{
        color: blue;
        text-decoration: line-through;
        cursor: pointer;
      }