body {
  background-color: #ff000091;
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: #007bff;
  text-align: center;
}

p {
    font-style: italic;
  color: #333;
  line-height: 1.6;
}
