*{
    margin: 0;
    padding: 0;
}
.head{
   text-decoration: none;
   width: 100%;
   height: 13%;
   background-color: rgb(0, 255, 179);
   display: flex;
   justify-content: space-around;
   position: fixed;
   align-items: center;
   font-size: 24px;
   gap: 600px;
}
.title {
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title img{
    width: 70px;
    align-items: center;
    }

.menu ul{
   list-style: none;
}
.menu ul li{
    display: inline-block;
    margin: 0px 10px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
.menu ul li a:hover{
    color: white;
    transition: ease 1s;
}