body {
    margin: 0;
    margin-top: 0px;
    padding: 0;
     font-family: "Poppins", sans-serif;
     background-image: url();
     cursor: grab;
     

}.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 200px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
   height: 50px;
}.title p{
    font-size: 25px;
    font-weight:600;
    margin-top: 10px;
}.menu ul{
    list-style: none;
    font-size: 20px;
margin-top: 10px;
}.menu ul li{
    display: inline-block;
    margin-right:50px ;
}.menu ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}.menu ul li a:hover{
    border-bottom: 2px 
    solid white
   
}.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 87vh;
    
}.hero-content p{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
   
}.hero-content p span{
color: #4070f4;
}.hero-content button{
    background-color: blue;
    color: aliceblue;
    border: none;
    padding: 15px 80px;
    border-radius: 10px;
    font-size: 30px;
    margin: 50px;
    margin-right: 20px;
    

}.hero-content button:hover{
    background-color: black;
    transition: 0.50s;
}
.social-media{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}.social-media ul{
    list-style: 100;
}.social-media ul li{
    display: inline-block;
    font-size: 40px;
}.social-media ul li a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin: 20px;
    margin-block:100px ;
   
}.About{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 120px;
    background-color: aqua;
    height: 100vh;
    
    
}.About-skill{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 50px;
}.about-box{
 margin-left: 50px;
 margin-right: 30px;
 margin-top: 30px;
    background-color:white;
    padding: 5px;
    border-radius: 10px;
    width:150px;
    height: 150px;
    text-align: center;display: flex;
    flex-direction: column;
    font-weight: bold;
}.about-box:hover{
    transform: translateY(-10px);
    transition: 0.50s;
    background-color: black;

}
.About-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    height: 100vh;
    margin-top: 200px;
}.about-content-section{
    color: black;
    font-size: 30px;
    font-weight: 2000;
    

}.about-content-title{
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}.about-content-desc{
    color: black;
    font-size: 18px;
    font-weight: 300;
}.button{
     background-color:blue;
    color: white;
    border: none;
    padding: 15px 80px;
    border-radius: 10px;
    font-size: 20px;
    margin: 100px;
    margin: 50px;
}.button:hover{
    background-color: black;
    transition: 0.50s;
     transform: translateY(-10px);
}.skill{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: darkslategray;
    justify-content: center;
    align-items: center;
}
.skill-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}.skill-box{
    width: 300px;
    height: 300px;
    background-color:springgreen;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 20px;
    font-size: 40px;
    font-family: monospace;
    align-content:center ;
    text-align: center;
}.skill-box:hover{
    transform: translateY(-10px);
    transition: 0.70s;
    background-color: blue;
 
}
/* .judul-skill{
  background-color: blue;
  font-size: 20px;
  margin-left: 50px;
  width: 100px;
  height: 100PX;
} */
.floating-button{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50px;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 20px;
    display: none;

}.bisnis{
background-color: aqua;
height: 100vh;   
}.makanan{
     display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 200px;
    
}.kuliner{
   width: 300px;
    height: 300px;
    background-color:springgreen;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 20px;
    font-size: 40px;
    font-family: monospace;
    align-content:center ;
    text-align: center;
    
    

}.kuliner:hover{
    background-color: blue;
    transition: 0.5s;
     transform: translateY(-10px);
}.judul-bisnis{
   font-family: sans-serif;
   width: 250px;
    height: 120px;
    background-color:cornflowerblue;
    margin-left: 500px;
    border-radius: 10px;
    font-size: 40px;
    font-family: monospace;
    align-content:  center ;
    text-align: center;
    margin-top: 0;
    
}.belajar-awal{
  background-color: brown;
  height: 100vh;  
}.belajar-isi{
      display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 200px;
   
    
}.judul-belajar{
    font-family: sans-serif;
   width: 350px;
    height: 120px;
    background-color:gold;
    margin-left: 500px;
    border-radius: 10px;
    font-size: 40px;
    font-family: monospace;
    align-content:center ;
    text-align: center;
    margin-top: 0;
}.dkv-rpl{
      width: 300px;
    height: 300px;
    background-color:springgreen;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 20px;
    font-size: 40px;
    font-family: monospace;
    align-content:center ;
    text-align: center;
    

}.dkv-rpl:hover{
    background-color: blue;
      transition: 0.5s;
     transform: translateY(-10px);
    
}.rpl-rpl{
       width: 300px;
    height: 300px;
    background-color:springgreen;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 20px;
    font-size: 40px;
    font-family: monospace;
    align-content:center ;
    text-align: center;
    margin-left: 100px;
    
}.rpl-rpl:hover{
    background-color: blue;
    transition: 0.5s;
     transform: translateY(-10px);
}.akhir{
    background-color: black;
    padding: 10px;
}.ig{
    color: aliceblue;
    margin-left: 1000px;
    font-size: 20px;
    
}.telepon{
    color: aliceblue;
    margin-left: 1100px;
    font-size: 20px;
   
}.nama-akhir{
    color: aliceblue;
  position: relative;
  top: -40px;
  font-size: 30px;
  margin-left: 20px;
    
  
}.dll{
       width: 300px;
    height: 300px;
    background-color:springgreen;
    margin-left: 80px;
    margin-right: 70px;
    border-radius: 20px;
    font-size: 40px;
    font-family: monospace;
    align-content:center ;
    text-align: center;
}.dll:hover{
     background-color: blue;
    transition: 0.5s;
     transform: translateY(-10px);
}
