.kotak_utama{
    width: 300px;
    height: 300px;
    background-color: aqua;
    margin-left: 500px;
    border-radius: 20px;
    font-size: 40px;
    font-family: monospace;
    align-content:center ;
    text-align: center;
    margin-top: 150px;
}.tombol-penting{
   margin: 10px;
   font-size: 50px;
   

   
}.sama-dengan{
    font-size: 15px;
    margin-right: 150px;
    margin-top: 30px;

}